.CouponForm {
  max-width: 936px;
  padding: 58px;
  background-color: #fff;

  &__inner {
    display: flex;
  }

  &__col-left {
    margin-right: 32px;
    max-width: 307px;
  }

  &__col-right {
    flex-grow: 1;
    min-width: 400px;
  }

  &__coupon-card {
    margin-bottom: 44px;
    border: 1px solid #EFF0F2;
  }

  &__counter {
    display: flex;
    justify-content: center;
  }

  &__form {

  }

  &__form-row {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__form-col {
    width: 100%;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &_third {
      width: 31%;
    }

    &_2-third {
      width: 66%;
    }

  }

  &__footer {
    border-top: 1px solid #E9EAEC;
    margin-top: 27px;
    padding-top: 28px;
    display: flex;
    justify-content: flex-end;

    & > button:last-child {
      margin-left: 10px;
    }
  }
}
