.CouponCard {
  background: #FFFFFF;
  border: 1px solid #EFF0F2;

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__inner {
    padding: 20px 20px 24px 20px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
  }

  &__rating-info {
    color: #FD3800;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  &__info {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &__info-container {
    margin-bottom: 14px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;

  }

  &__waves-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #2EB4FF;
  }

  &__usd-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.388889px;
    position: relative;

    &_crossed-out {
      &:before {
        background-color: #FF0000;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 120%;
        height: 1px;
      }

    }

    &_discount {
      color: green;
      margin-left: 10px;
    }
  }
}
